@page "/about"

<PageTitle> About | CryptoManager.Net</PageTitle>

<MudPaper Style="padding: 20px;" MaxWidth="1024px">
    <h1>CryptoManager.Net</h1>
    <p style="margin-top: 12px;">
        CryptoManager.Net is mainly intended as a demo project for the open source, free to use dotnet CryptoExchange.Net cryptocurrency API client libraries. The application is free to use as is at your own risk.
    </p>
    <p style="margin-top: 5px;">
        <b>More info about the libraries:</b><br />
        <a style="text-decoration: underline" href="https://cryptoexchange.jkorf.dev/">https://cryptoexchange.jkorf.dev/</a>
    </p>
    <p style="margin-top: 5px;">
        <b>Application source code</b><br />
        <a style="text-decoration: underline" href="https://github.com/JKorf/CryptoManager.Net">https://github.com/JKorf/CryptoManager.Net</a>
    </p>

    <p style="margin-top: 20px;">
        If you have feedback, questions or want to report a bug feel free to open a GitHub issue or send me an email at <a style="text-decoration: underline" href="mailto:contact@jkorf.dev">contact@jkorf.dev</a>.
    </p>

    <p style="margin-top: 20px;">
        No responsibility is assumed for losses for any reason using this application.
    </p>

    <p style="margin-top: 20px;text-align:right">Created by Jan Korf</p>
</MudPaper>


@code{

    protected override void OnInitialized()
    {
    }

}